body,html{
	margin:0;
	padding:0;
	height:100;
	background-color: white;
}
.wrapper{
	position:relative;
	margin:0 auto;
	width:auto;
	height:2000px;
	background-color:white;
	border:1px solid red;
}
#container{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
	margin: auto;
	width:450px;
	height:50px;
	background-color: white;
	border:1px solid red;
}

.btn{
   
    background-repeat: repeat-x;
    background-color: Transparent;
    width: 100px;
    height: 32px;

    text-align: center;
    border: 1px solid #e3e2e2;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    color: #00437b;
   
}

#player{
    display: inline;
    padding-right: 20px;
    list-style-type: none;
}

ul li{
    display: inline;
}

